<<<<<<< HEAD

body{
		background-color:rgba(66,72,117,1) !important;
	}
.container {
		margin:10px;
		display:inline-block;
		width:100px;
		height:100px;
		position:relative;
		perspective:800px;
	}
.card {
		width:100%;
		height:100%;
		position: absolute;
	    transform-style: preserve-3d;
	    transition: opacity 2s, transform 1s;
	}
.front {
		z-index:1;
	    display: block;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    backface-visibility: hidden;
			background-color:rgba(255,255,255,.5);
	}
  .front:hover {
    transition: background-color .25s ease-in-out;
    background-color:rgba(255,255,255,1)
  }
.back {
	    transform: rotateY( 180deg );
	    display: block;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    backface-visibility: hidden;
		background-color:rgba(255,255,255,1);
	}
	#game-container {
		z-index:0;
		position:relative;
		padding-top:50px;
	  	height:80%;
		width:100%;
		left:42%;
	}
	button {
		border:none;
		height:20px;
	    width:100px;
		opacity:.8;
	    position:relative;
		background-color:white;
		font-family:'Roboto',sans-serif;
		font-size:1.1em;
	}
	#moves, #score, #victory {
		margin:10px;
		font-family: 'Roboto', sans-serif;
		font-size:1.1em;
		color:white;
	}
  #victory {
    text-align:center;
  }
	h1 {text-align:center;
		display:flex;
		justify-content:center;
		margin-top:7%;
		font-size:3em;
		font-family:'Roboto',sans-serif;
		color:white;

	}
]]
=======

body{
		background-color:rgba(66,72,117,1) !important;
	}
.container {
		margin:10px;
		display:inline-block;
		width:100px;
		height:100px;
		position:relative;
		perspective:800px;
	}
.card {
		width:100%;
		height:100%;
		position: absolute;
	    transform-style: preserve-3d;
	    transition: opacity 2s, transform 1s;
	}
.front {
		z-index:1;
	    display: block;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    backface-visibility: hidden;
			background-color:rgba(255,255,255,.5);
	}
  .front:hover {
    transition: background-color .25s ease-in-out;
    background-color:rgba(255,255,255,1)
  }
.back {
	    transform: rotateY( 180deg );
	    display: block;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    backface-visibility: hidden;
		background-color:rgba(255,255,255,1);
	}
	#game-container {
		z-index:0;
		position:relative;
		padding-top:50px;
	  	height:80%;
		width:100%;
		left:42%;
	}
	button {
		border:none;
		height:20px;
	    width:100px;
		opacity:.8;
	    position:relative;
		background-color:white;
		font-family:'Roboto',sans-serif;
		font-size:1.1em;
	}
	#moves, #score, #victory {
		margin:10px;
		font-family: 'Roboto', sans-serif;
		font-size:1.1em;
		color:white;
	}
  #victory {
    text-align:center;
  }
	h1 {text-align:center;
		display:flex;
		justify-content:center;
		margin-top:7%;
		font-size:3em;
		font-family:'Roboto',sans-serif;
		color:white;

	}
]]
>>>>>>> a7968cfd24c76014e4cb2d74787749f4592dac30
