@charset "utf-8";
/* CSS Document */
*{
	padding:0;
	margin:0;
}
body {
	background-color:rgba(124, 209, 237, 1);
	height:100%;
	overflow:hidden;
}
nav{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	min-height:50px;
	background:rgba(20,115,146,.3);
	z-index:5;
}

#logo {
	position:absolute;
	top: 5px;
	left: 15px;
	animation: rotate 10s infinite;
}
nav ul li {
	list-style-type:none;
	float:right;
	margin: 15px 15px 0 0;
	font-family: 'Roboto', sans-serif;
}

nav ul li a {
	color:white;
	text-decoration:none;
}
#intro {
	width:50%;
	height:100%;
	position:absolute;
	right:0;
	margin-top:300px;
	float:right;

}
#introtype > span{
  animation: blink 1s infinite;
}

@keyframes type{ 
  from { width: 0; } 
} 

@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}
#introtype {
	font-size:3em;
	color:white;
	margin-left:30%;
  	white-space: nowrap;
  	overflow: hidden;
 	width: 30em;
 	animation: type 4s steps(60, end); 
}

#introtype:nth-child(2){
  animation: type2 8s steps(60, end);
}
#land, #home {
	position:absolute;
	bottom:40px;
	left:20px;
	animation: levitate 4s infinite;
	z-index:6;
}
#city{
	position:absolute;
	bottom:-30px;
	filter:opacity(50%);
}
#home:hover {
	transition: opacity .2s ease-in-out;
	opacity:.5;
}
.content-container {
	margin: -50px 0 0 0;
	float:right;
	width: 40%;
	height: 100%;

}
.content {
	display:inline-block;
	background-color:rgba(255,255,255,.7);
	height: auto;
	width: 100%;
	-webkit-box-shadow: -3px 4px 49px 2px rgba(20,115,146,.3);;
-moz-box-shadow: -3px 4px 49px 2px rgba(20,115,146,.3);;
box-shadow: -3px 4px 49px 2px rgba(20,115,146,.3);;
}

#about-content, #projects-content {
	margin-top:150px;
}

h4 {
	font-size:1.1em;
	padding:15px;
	display:inline-block;
	font-family: 'Roboto', sans-serif;
	padding-bottom:5px;
}

hr{
	width:90%;
	margin:0 0 5px 15px;
	border:0;
	height:1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0));
}
a{
	text-decoration:none;
	color:rgba(20,115,146,1);
}

p{
	margin: 0 15px 15px 15px;
	display:inline-block;
	padding: 10px 10px 0 10px;
	color:#999;
	font-family: 'Roboto', sans-serif;
}

.entry p {
	margin:0 0 15px 15px;
}
.entry-container {
	padding: 0 0 10px 10px;
}
.entry {
	display:inline-block;
	min-width: 30%;
	margin-right:10px;
}
.fill-bar {
	display:inline-block;
	width:7px;
	height:13px;
	background-color: rgba(124, 209, 237, 1);
}

.unfill-bar {
	display:inline-block;
	width:7px;
	height:13px;
	background-color: rgba(124, 209, 237, .3);
}
@keyframes levitate {
	0% {bottom:40px;}
	50% {bottom:50px;}
	100% {bottom:40px;}
}

@keyframes rotate {
	0% {transform: rotateZ(-45deg)}
	50% {transform: rotateZ(45deg)}
	100% {transform: rotateZ(-45deg)}
}
